Source: evqueue-core
Section: net
Priority: optional
Maintainer: Thibault KUMMER <bob@coldsource.net>
Build-Depends: debhelper (>= 9.0.0), cmake
Standards-Version: 3.9.7
Homepage: http://www.evqueue.net
Vcs-Git: https://github.com/coldsource/evqueue-core.git
Vcs-Browser: https://github.com/coldsource/evqueue-core

Package: evqueue-core
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: adduser (>= 3.40)
Description: evQueue core module
 evQueue is a fast event driven scheduler and queueing engine

Package: evqueue-utils
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: evQueue utilities to manage daemon
 evQueue is a fast event driven scheduler and queueing engine

Package: evqueue-agent
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: evQueue agent for managing remote tasks execution
 evQueue agent can be used when working with remote tasks over SSH to enable
 additional features like dedicated logging and live tasks progression.
